In [12]:
import pandas as pd
import fix_yahoo_finance as yf
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [26]:
pnl = yf.download([x[0:-1] for x in list(open('Stickers.csv'))],start='2016-01-01')

[*********************100%***********************]  505 of 505 downloaded

In [27]:
df = pnl.to_frame().unstack(level=1)
X = df['Adj Close'].reset_index().drop(['Date'],axis=1)
X.head()

minor,A,AAL,AAP,AAPL,ABBV,ABC,ABT,ACN,ADBE,ADI,...,XL,XLNX,XOM,XRAY,XRX,XYL,YUM,ZBH,ZION,ZTS
0,39.889591,40.034653,151.606461,101.014183,53.132004,98.035957,40.731670,97.839996,91.970001,51.542179,...,36.159698,43.403381,71.344223,58.235184,25.844584,35.019852,49.407043,100.141838,26.077538,46.464733
1,39.752350,39.652996,150.570786,98.482841,52.910660,99.469872,40.722183,98.349213,92.339996,51.163475,...,36.235405,44.047802,71.952095,59.422451,25.794401,35.010139,49.283886,102.227112,25.794411,47.192116
2,39.928806,40.347797,146.587433,96.555573,52.919880,97.949341,40.380615,98.157059,91.019997,48.985897,...,35.923115,43.242279,71.353424,58.561680,25.468208,34.573360,48.934940,102.669739,25.042643,47.201954
3,38.232834,39.584499,148.210632,92.480476,52.763092,94.821655,39.412853,95.274612,89.110001,47.736160,...,35.175507,41.536469,70.211334,58.047199,24.765638,33.680397,47.265457,100.309067,24.290873,45.766827
4,37.830906,39.506207,144.954269,92.969490,51.324356,94.273102,38.587395,94.352219,87.849998,47.319588,...,34.494141,40.683563,68.792915,56.385040,24.063066,33.360092,46.622292,99.886101,24.017504,45.098415

In [29]:
X.to_csv('DatosH.csv',index=False)